@source "../../node_modules/@cloudflare/kumo/dist/**/*.{js,jsx,ts,tsx}";
@import "@cloudflare/kumo/styles/tailwind";
@import "tailwindcss";

@theme {
  --font-serif: "Source Serif 4", "Georgia", serif;
}
